html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0 auto;
  font-family: "Robot", sans-serif;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:focus,
a:hover {
  outline: none;
  color: rgb(238, 130, 238);
}

a:active {
  color: rgb(106, 90, 205);
}

/* glob */

.row {
  height: 100%;
}

.flex {
  display: flex;
}

.btn-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn {
  transition: background 0.2s ease-in-out;
}

.btn:focus,
.btn:hover {
  background-color: #2616bd;
}

.btn:active {
  background-color: #1606a3;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* header */
.header {
  background-color: #3F2AFF;
  height: 80px;
}

.header__container {
  margin: 0 auto;
  padding: 30px 165px 30px 165px;
  height: 100%;
  max-width: 1440px;
  align-items: center;
  justify-content: space-between ;
}

.heaber__logo {
  margin-right: auto;
  width: 94px;
  height: 21px;
}

.header__logo-img {
  width: 100%;
  height: 100%;
}

.header__nav-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
}

.header__nav-item:not(:last-child) {
  margin-right: 56px;
}

.header__burger {
  display: none;
  width: 30px;
  height: 30px;
}

.header__menu-mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 4;
  top:0;
  right: 0;
  width: 350px;
  height: 400px;
  padding: 30px;

  background-color: #3F2AFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);

  transition: transform 1s ease-in-out;
  transform: translateY(-101%);

}

.header__menu-mobile.is-active {
  transform: none;
}

.header__burger--close {
  width: 23px;
  height: 23px;
  margin-bottom: 93px;
  align-self: flex-end;
  transition: transform 0.15s ease-in-out;
}

.header__burger--close:active {
  transform: rotate(45deg);
}

.header__burger--close svg rect{
  fill: #fff;
}

.header__item-moble {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #fff;
}

.header__item-moble:not(:last-child) {
  margin-bottom: 30px;
}

/* hero */
.hero__container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 165px;
  padding-top: 130px;
  padding-bottom: 130px;
  min-height: 620px;

  background-image: url(../img/hero-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero__container::before {
  content: '';
  position: absolute;
  top: 15px;
  right: 165.14px;
  width: 632.86px;
  height: 593px;

  background-image: url(../img/hero-1440px.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.hero__title {
  margin: 0;
  margin-bottom: 26px;

  font-weight: 700;
  font-size: 56.3px;
  line-height: 60.8px;
  color: #fff;
}

.hero__descr {
  margin: 0;
  margin-bottom: 62px;

  font-weight: 400;
  font-size: 17.7px;
  line-height: 27px;
  color: #fff;
}

.hero__btn {
  min-width: 270px;
  min-height: 69px;
  padding: 24px 72px;

  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  border-radius: 20px;
  background-color: #3F2AFF;
  color: #fff;
}

/* about */
.about__container {
  min-height: 456px;
  max-width: 1440px;
  padding: 80px 150px;
}

.about__bottom-wrap {
  /* position: relative; */
  margin-bottom: 23px;
  padding-left: 205px;

  background-image: url(../img/about-img-bottom.png);
  background-repeat: no-repeat;
  background-position: top 20px left 15px;
  background-size: 160px 142px;
}

.about__title {
  margin: 0;
  margin-bottom: 17px;

  color: #2E2B44;
  font-weight: 700;
  font-size: 37.4px;
  line-height: 40px;
}

.about__descr {
  margin: 0;

  color: #666;
  font-weight: 400;
  font-size: 16.1px;
  line-height: 24px;
}

.about__item {
  align-items: center;
}

.about__item-img {
  width: 80px;
  height: 80px;
  margin-right: 30px;
}

.about__item-text {
  color: #666;
  font-weight: 700;
  font-size: 15.1px;
  line-height: 19.2px;
}

/* teachers */

.teachers__container{
  min-height: 576px;
  max-width: 1440px;
  padding: 80px 150px 73px 150px;
  background-color: #212133;
}

.teachers__title {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 15px;
  font-weight: 700;
  font-size: 38px;
  line-height: 29px;
  color: #fff;
}

.teachers__list {
  grid-gap: 23px 0;
}

/* .teachers__item {

} */

.teachers__wrap {
  min-height: 358px;
}

.teachers__img-block {
  margin-bottom: 30px;
  width: 100%;
  height: 180px;

  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  overflow: hidden;
}

.teachers__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teachers__item-title {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 17px;
  line-height: 27px;
  color: #fff;
}

.teachers__item-descr {
  margin: 0;

  font-weight: 400;
  font-size: 15.9px;
  line-height: 24px;
  color: #85859B;
}

/* courses */
.courses__container {
  min-height: 1208px;
  max-width: 1440px;
  padding: 80px 150px;
}

.courses__title {
  margin: 0;
  margin-bottom: 28px;
  padding-left: 15px;

  font-weight: 700;
  font-size: 37px;
  line-height: 30px;
  color: #212133;
}

.courses__list {
  gap: 30px 0;
}

.courses__card {
  min-height: 480px;
}

.courses__img {
  position: relative;
  width: 100%;
  height: 180px;

  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.courses__img-block {
  position: absolute;
  top: 13px;
  right: 3px;
  padding-left: 28px;
  width: 95px;
  height: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: #fff;

  background-image: url(../img/mdi_access_time.svg);
  background-size: 24px 24px;
  background-position: left -1px top -3px;
  background-repeat: no-repeat;
  /* z-index: 1; */
}

.courses__img-1 {
  background-image: url(../img/courses-bg-1-1440px.png);
}

.courses__img-2{
  background-image: url(../img/courses-bg-2-1440px.png);
}

.courses__img-3 {
  background-image: url(../img/courses-bg-3-1440px.png);
}

.courses__img-4 {
  background-image: url(../img/courses-bg-4-1440px.png);
}

.courses__content {
  padding: 30px;
  min-height: 300px;
  flex-direction: column;
  justify-content: space-between;

  background-color: #EDF0F9;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.courses__content-wrap {
  margin-bottom: auto;
}

.courses__item-title {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 16.9px;
  line-height: 27px;
  color: #212133;
}

.courses__item-descr {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666;
}

.courses__btn {
  padding: 20.5px 59px;
  width: 202px;
  height: 60px;

  font-weight: 700;
  font-size: 14.7px;
  line-height: 18.75px;
  border-radius: 20px;
  background-color: #3F2AFF;
  color: #fff;
}

/* footer */
.footer {
  height: 98px;
}

.footer__container {
  margin: 0 auto;
  height: 100%;
  max-width: 1440px;
}

.footer__top {
  height: 80px;
 width: 100%;
  margin-bottom: 3px;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #2E2B44;
}

.footer__list {
  align-items: center;
  justify-content: center;
}

.footer__item {
  width: 20px;
  height: 20px;
}

.footer__item  svg {
  width: 100%;
  height: 100%;
}

.footer__item:not(:last-child) {
  margin-right: 34px;
}

.footer__bottom {
  margin: 0 auto;
  width: 105px;

  font-weight: 400;
  font-size: 12.35px;
  line-height: 15.5px;
  color: #2E2B44;
}

.footer__bottom--text-color {
  color: #3F2AFF;
}
